/* General Reset and Styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin: 1.5rem 0;
  color: #4a90e2;
  font-weight: bolder;
  padding-top: 2rem;
}

p {
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5rem 0 2rem;
  color: #555;
  font-weight: 500;
  padding-bottom: 2rem;
}

.navbar {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping for responsiveness */
  justify-content: space-between;
  align-items: center;
  background-color: #4a90e2;
  padding: 1rem;
  color: #fff;
}

.search-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.search-input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 0.5;
  min-width: 200px;
}

.search-button {
  padding: 0.75rem;
  background-color: #85e085;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Genre & Emotion Containers */
.genre-container, .emotion-container {
  text-align: center;
  margin: 2rem 0;
}

.genre-container h2, .emotion-container h2 {
  font-size: 1.5rem;
  color: #4a90e2;
  margin-bottom: 1rem;
}

.genre-button, .emotion-button {
  padding: 0.75rem;
  width: 150px;
  text-overflow: ellipsis;
  overflow:inherit;
  white-space: nowrap;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem auto;
  font-size: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  
}
.sad:hover {
  background-color: red !important;
}

.sad:active{
  background-color: red;
}

.emotion-button.happy {
  background-color: green;
}

.emotion-button.angry {
  background-color: orange;
}

.emotion-button.neutral {
  background-color: gray;
}

.genre-button:hover, .emotion-button:hover {
  transform: translateY(-3px) scale(0.98);
  color: black;
}

/* Responsive Design */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .navbar {
    flex-direction: column;
    align-items: stretch;
  }

  .navbar-title {
    text-align: center;
    margin-bottom: 1rem;
  }

  .search-container {
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
  }

  .search-input {
    flex: none;
    width: 100%;
  }

  .search-button {
    font-size: 1rem;
  }

  .genre-button, .emotion-button {
    width: 100%;
    max-width: 200px;
  }
}
